@mixin searchBorder($width, $radius) {
  width: $width;
  height: 35px;
  border: 1px solid #d7d4d4;
  border-radius: $radius;
  outline: none;

  &:hover {
    border: 2px solid #000;
  }
}

@mixin countCircle() {
  min-width: 25px;
  padding: 3px 6px;
  background-color: #9cb1db;
  border-radius: 15px;
  text-align: center;
}

@mixin insideProjectButton(
  $top: 0.5px,
  $right: 0.5px,
  $bottom: unset,
  $left: unset
) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: 70px;
  height: 30px;
  border-color: #a39b9b;
  border-radius: 10%;

  &:hover {
    color: #fff;
    background-color: #5e5adb;
  }
}
